<h1 id="tableLabel">Celestial bodies</h1>

<p>Здесь будут карты небесные</p>

<p *ngIf="!planets"><em>Where are my planets? Where are they?</em></p>

<table *ngIf="planets">
    <thead>
        <tr *ngFor="let charName of characteristics">
            <th>{{ charName }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let planet of planets">
          <td>{{ planet.name }}</td>
          <td>{{ planet.age }}</td>
          <td>{{ planet.diameter }}</td>
          <td>{{ planet.mass }}</td>
          <td>{{ planet.type }}</td>
          <td>{{ planet.system }}</td>
        </tr>
    </tbody>
</table>
